.left-2 {
    left: 12%;
    width: 1px;
    background-color: #E5E5E5;
}
.slider-img:hover img {
    transform: scale(1.2);
}
.slider-img:hover .detail-btn svg {
    margin-left: 2rem;
}
.swiper-btn::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width .3s;
}

.swiper-btn:hover::after {
    width: 100%;
    transition: width .3s;
}
.active div:first-child {
    transform:  rotate(45deg) translateY(4px);
}
.full {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 3em 6em;
    background: #ffff;
    flex-direction: row-reverse;
}
.full .hidden {
    display: block;
}
.full img {
    position: absolute;
    left: 20px;
    top: 24px;
}
.full .social-icons {
    display: none;
}
.full .menu li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
}
.full .menu li:nth-of-type(2) {
    animation-delay: .4s;
}
.full .menu li:nth-of-type(3) {
    animation-delay: .45s;
}
.full .menu li:nth-of-type(4) {
    animation-delay: .50s;
}
.active div:nth-child(2) {
    display: none;
}
.active div:last-child {
    transform:  rotate(-45deg) translateY(-4px);
}
.swiper-button-disabled {
    color: #ddd;
    cursor: none;
}
.swiper-button-disabled:hover::after {
    width: 0;
    transition: width .3s;
}

/*Responsive Mobile style*/
@screen sm {
    .slider {
        order: 2;
        padding-left: 0;
    }
    div.sidebar {
        order: 1;
        height: auto;
        height: 74px;
        padding: 0 1rem 7px;
        justify-content: unset;
        position: fixed;
        top: 0;
        z-index: 9999;
        background: #fff;
    }
    .social-icons {
        position: fixed;
        top: 50%;
        right: 0;
        z-index: 9999;
        background: #000;
        padding: 10px;
    }
    .h-slide {
        height: 100%;
    }
    .full-sm {
        width: 100%;
    }
    .sidebar .content {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }
    .sidebar .content .cursor-pointer {
        position: relative;
        top: 25px;
    }
    .sidebar img {
        max-width: 67px;
    }
    .villa-info {
        position: absolute;
        top: 50%;
        z-index: 9999;
        width: 100%;
        padding: 22px;
        color: #fff;
    }
    .h-screen.swiper-slide {
        position: relative;
        top: -78px;
    }
    div.full {
        padding: 1em 1.5em;
    }
    div.full img {
        display: none;
    }
    .my-container {
        flex-direction: column;
        height: auto;
    }
    div.swiper-button-disabled {
        color: #7b7a7a;
        cursor: none;
    }
    .swiper-slide:after {
        content: "";
        background: #000;
        position: absolute;
        height: 100%;
        width: 100%;
        top: -7px;
        left: 0;
        z-index: 999;
        opacity: 0.4;
    }
    .detail-btn {
        padding: 20px;
        z-index: 9999;
    }
}

@keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(800px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}